body {
  background-color: cadetblue;
  /* background-image: url("images/holo-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; */
}

#timer{
  text-align: center;
}

#tamagotchi{

}

.tamagotchi-temp {
  height: 50vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70%;
  max-height: 90%; */
}

#screen{
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}



#buttons {
    display: flex;
    justify-content: space-around;
}

#egg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70%;
  max-height: 90%;
  /* margin: auto;
  border: black solid 2px;
  border-radius: 900px; */
}
