body {
  background-image: linear-gradient(rgb(1, 31, 255), rgb(86, 153, 255));
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh;
  font-family: "Inconsolata", monospace;
  font-family: "Lato", sans-serif;
}

.day-img {
  height: 100px;
  width: 100px;
}

.sun-pic {
  height: 100px;
  width: 100px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  /* transition: transform 1s ease-in-out; */
}

.dayMode {
  background-image: linear-gradient(rgb(1, 31, 255), rgb(86, 153, 255));
}

.nightMode {
  background-image: linear-gradient(rgb(0, 0, 79), rgb(41, 47, 114));
  color: whitesmoke;
  border: whitesmoke;
}

.nightModeBtns {
  background-color: rgb(4, 3, 38);
  color: rgb(164, 164, 164);
  border: rgb(4, 3, 38);
}

.btns {
  background-color: rgb(0, 22, 187);
  color: rgb(247, 219, 2);
  border: rgb(0, 22, 187);
  border-radius: 2px;
  margin: 2px;
  width: 90px;
  height: 30px;
  opacity: 95%;
}

/* nighttime buttons
  background-color: rgb(4, 3, 38) ;
  color: rgb(164, 164, 164);
  border: rgb(4, 3, 38); */

.btns:hover {
  background-color: rgba(0, 22, 187, 0.468);
  border: rgba(0, 22, 187, 0.468);
  color: white;
}

/* .tamagotchi-temp {
  height: 50vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70%;
  max-height: 90%; */
/* }  */

#heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.name {
  width: 15%;
  height: 25px;
}

.submit {
  width: 10%;
}

table{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 3px;
  text-align: center;
  border: 1.5px solid black;
  border-collapse: collapse;
}

th {
  padding: 5px;
  margin: auto;
}

#egg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 20%;
  /* margin: auto;
  border: black solid 2px;
  border-radius: 900px; */
}

#age{
  text-align: center;
}

/* #tamagotchi{
  width: 150px;
  height: 150px;
  background: rgb(96, 213, 129);
} */

.sprite-container {
  margin: auto;
  padding-top: 3%;
  width: 95px;
  height: 140px;
  overflow: hidden;
}

.sprite-img {
  width: 350px;
  height: 300px;
  animation: moveSpritesheet 1s steps(3) infinite;
}

.evolved-sprite-img{
  width: 550px;
  height: 500px;
  animation: moveSpritesheet 1s steps(3) infinite;
}

@keyframes moveSpritesheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

#timer {
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

:hide {
  --display: none;
}

/* css for dead sprite */
.dead-sprite-container{
  margin: auto;
  width: 100px;
  height: 140px;
  overflow: hidden;
}

.dead-sprite-img{
  width: 400px;
  height: 450px;
  animation: moveSpritesheet 1s steps(4);
}

/* jumping sprite */
.jumping-sprite-container{
  margin: auto;
  width: 95px;
  height: 140px;
  overflow: hidden;
}

.jumping-sprite-img{
  width: 350px;
  height: 300px;
  animation: moveSpritesheet 1s steps(3) infinite;
}
